@charset "utf-8";
body{background-color:black;}
h1,h2{font-family:楷体;text-align:center;font-size:40px;color:white;}
p{font-family:宋体;text-align:center;font-size:36px;texe-decoration:underline;}
a:hover{color:#00dd00;}
a{color:#dd0000}
#container{width:90%;
height:8500px;
border:50px solid red;
margin-top:0px;
margin-bottom:0px;
margin-right:auto;
margin-left:auto;
padding-top:5px;
padding-bottom:5px;
padding-right:20px;
padding-left:20px;
}

