@charset "utf-8";
/* CSS Document */
body{background-color:black;}
h1,h2{font-family:¬ו;text-align:center;font-size:40px;color:white;}
p{font-family:ו;text-align:center;font-size:36px;texe-decoration:underline;}
a:hover{color:#00dd00;}
a{color:#dd0000}
h1{height:60px;line-height:55px;text-align:center;}